<a href="https://colab.research.google.com/github/kmouleejunhyuk/bigdata_analysist_practical/blob/main/datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#날짜 데이터 핸들링

In [67]:
import datetime
import time
import pandas
import random

현 날짜와 시간 데이터 생성

In [25]:
datetime_now = datetime.datetime.today()
datetime_now

datetime.datetime(2021, 5, 12, 8, 48, 7, 443492)

현 시간에 5시간 5분 5초를 더한 뒤 iso포맷으로 출력

In [26]:
datetime_now += datetime.timedelta(hours = 5, seconds = 5, minutes = 5)

In [27]:
datetime_now.isoformat()

'2021-05-12T13:53:12.443492'

datetime_now에서 년, 월, 일 등의 정보를 추출

In [30]:
print(f'{datetime_now.year}년 {datetime_now.month}월 {datetime_now.day}일 {datetime_now.hour}시 {datetime_now.minute}분 {datetime_now.second}초')

2021년 5월 12일 13시 53분 12초

판다스 데이터프레임에서 C1과 C2 컬럼(string, yyyy-mm-dd)의 날짜 차이의 절대값을 계산해 C3 컬럼에 저장하고 그만큼을 C2와 더해 C4컬럼에 저장

In [75]:
y = 2021
m = 5
df = pandas.DataFrame()
df['C1'] = [f'{y}-{m}-{x}' for x in range(1, 16)]
df['C2'] = [f'{y}-{m}-{x}' for x in random.sample(range(6, 21), 15)]

In [88]:
c1 = [datetime.date(*list(map(int, x.split('-')))) for x in df['C1'].values]
c2 = [datetime.date(*list(map(int, x.split('-')))) for x in df['C2'].values]
df['C3'] = [abs(d1 - d2) for d1, d2 in zip(c1, c2)]
df['C4'] = [d2 + d3 for d2, d3 in zip(c2, df['C3'])]

In [89]:
df

           C1         C2      C3          C4
0    2021-5-1   2021-5-9  8 days  2021-05-17
1    2021-5-2  2021-5-15 13 days  2021-05-28
2    2021-5-3  2021-5-13 10 days  2021-05-23
3    2021-5-4  2021-5-16 12 days  2021-05-28
4    2021-5-5  2021-5-19 14 days  2021-06-02
5    2021-5-6  2021-5-14  8 days  2021-05-22
6    2021-5-7  2021-5-12  5 days  2021-05-17
7    2021-5-8  2021-5-18 10 days  2021-05-28
8    2021-5-9   2021-5-6  3 days  2021-05-09
9   2021-5-10  2021-5-11  1 days  2021-05-12
10  2021-5-11   2021-5-8  3 days  2021-05-11
11  2021-5-12  2021-5-20  8 days  2021-05-28
12  2021-5-13  2021-5-17  4 days  2021-05-21
13  2021-5-14  2021-5-10  4 days  2021-05-14
14  2021-5-15   2021-5-7  8 days  2021-05-15