<a href="https://colab.research.google.com/github/kmouleejunhyuk/bigdata_analysist_practical/blob/main/seoul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#데이터 다운로드
import pandas as pd
rawdata = pd.read_csv('https://raw.githubusercontent.com/kmouleejunhyuk/bigdata_analysist_practical/main/seoul.csv', encoding = 'cp949')

#data 살펴보기
rawdata.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [ ]:
#결측치, 중복 여부 검사 및 제거
rawdata.isnull().sum()

날짜           0
지점           0
평균기온(℃)    756
최저기온(℃)    757
최고기온(℃)    757
dtype: int64

In [ ]:
rawdata.duplicated().sum()

0

In [ ]:
rawdata.dropna(inplace= True)

In [ ]:
#날짜 파생변수 생성(날짜 --> 년, 월, 일)
rawdata['년'] = rawdata['날짜'].map(lambda x: x.split('-')[0])
rawdata['월'] = rawdata['날짜'].map(lambda x: x.split('-')[1])
rawdata['일'] = rawdata['날짜'].map(lambda x: x.split('-')[2])

In [ ]:
#지점, 날짜 컬럼 제거
rawdata.drop(['지점', '날짜'], axis = 1, inplace = True)

In [ ]:
#년-월별 컬럼별 평균 확인
rawdata.groupby(by = ['년', '월']).mean()

           평균기온(℃)    최저기온(℃)    최고기온(℃)
년    월
1907 10  13.896774   8.309677  20.216129
     11   5.310000   0.643333  10.246667
     12  -3.890323  -8.732258   0.780645
1908 01  -3.464516  -7.506452   0.138710
     02  -4.058621  -8.768966   0.810345
...            ...        ...        ...
2017 06  23.273333  18.706667  28.750000
     07  26.922581  24.309677  30.393548
     08  25.916129  22.893548  29.654839
     09  22.103333  17.483333  27.433333
     10  18.200000  15.500000  21.200000

[1282 rows x 3 columns]

In [ ]:
#2000년 1월의 가장 높은 최저기온
rawdata.groupby(['년', '월']).max().loc['2000']['최저기온(℃)'].loc['01']

2.6