<a href="https://colab.research.google.com/github/kmouleejunhyuk/bigdata_analysist_practical/blob/main/statsmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#prepare data
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
#@title  { display-mode: "both" }
# 단계 1: 폰트 설치
import matplotlib.font_manager as fm

!apt-get -qq -y install fonts-nanum > /dev/null
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
fm._rebuild()

In [ ]:
#@title
# 단계 2: 런타임 재시작
import os
os.kill(os.getpid(), 9)

In [1]:
#@title
# 단계 3: 한글 폰트 설정
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm

# 마이너스 표시 문제
mpl.rcParams['axes.unicode_minus'] = False
	
# 한글 폰트 설정
path = '/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf'
font_name = fm.FontProperties(fname=path, size=18).get_name()
plt.rc('font', family=font_name)
fm._rebuild()

In [2]:
PATH ='/gdrive/MyDrive/big_2021/data/ADP'
SEED = 49

In [25]:
import pandas as pd
import numpy as np
import collections
import sklearn
import statsmodels.api as stats

In [4]:
rawdata = pd.read_csv(PATH + '/PART 05 실습용 데이터/credit_final.csv', encoding = 'cp949')

In [65]:
rawdata.head()

   credit.rating  account.balance  ...  telephone  foreign.worker
0              1                1  ...          1               1
1              1                1  ...          1               1
2              1                2  ...          1               1
3              1                1  ...          1               2
4              1                1  ...          1               2

[5 rows x 21 columns]

회귀분석

In [64]:
col = [(s, s.replace('.', '_')) for s in rawdata.columns]

In [62]:
r_modified = rawdata.rename(dict(col), axis = 1)

In [66]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(r_modified, random_state = SEED, test_size = 0.2, shuffle = True)

In [67]:
train.shape, test.shape

((800, 21), (200, 21))

In [69]:
x_var = " + ".join(train.columns[1:])

In [71]:
reg = stats.OLS.from_formula("credit_rating ~ " + x_var, data = train)
print(reg.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          credit_rating   R-squared:                       0.269
Model:                            OLS   Adj. R-squared:                  0.250
Method:                 Least Squares   F-statistic:                     14.34
Date:                Sun, 09 May 2021   Prob (F-statistic):           4.81e-41
Time:                        09:10:01   Log-Likelihood:                -387.41
No. Observations:                 800   AIC:                             816.8
Df Residuals:                     779   BIC:                             915.2
Df Model:                          20
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          0.1234      0.180      0.686      0.493      -0.230       0.477
account_balance                    0.1556      0.018      8.755      0.000       0.121       0.190
credit_duration_months            -0.0047      0.002     -2.787      0.005      -0.008      -0.001
previous_credit_payment_status     0.1101      0.027      4.078      0.000       0.057       0.163
credit_purpose                    -0.0559      0.015     -3.769      0.000      -0.085      -0.027
credit_amount                  -1.408e-05   7.94e-06     -1.774      0.076   -2.97e-05     1.5e-06
savings                            0.0461      0.012      3.705      0.000       0.022       0.071
employment_duration                0.0286      0.014      1.984      0.048       0.000       0.057
installment_rate                  -0.0505      0.015     -3.481      0.001      -0.079      -0.022
marital_status                     0.0299      0.014      2.110      0.035       0.002       0.058
guarantor                          0.0105      0.052      0.202      0.840      -0.091       0.112
residence_duration                -0.0148      0.014     -1.062      0.289      -0.042       0.013
current_assets                    -0.0328      0.016     -2.066      0.039      -0.064      -0.002
age                                0.0017      0.001      1.218      0.224      -0.001       0.005
other_credits                      0.0724      0.038      1.889      0.059      -0.003       0.148
apartment_type                     0.0565      0.030      1.870      0.062      -0.003       0.116
bank_credits                      -0.0556      0.034     -1.641      0.101      -0.122       0.011
occupation                        -0.0230      0.026     -0.902      0.367      -0.073       0.027
dependents                        -0.0368      0.041     -0.902      0.367      -0.117       0.043
telephone                          0.0559      0.032      1.733      0.083      -0.007       0.119
foreign_worker                     0.1238      0.074      1.662      0.097      -0.022       0.270
==============================================================================
Omnibus:                       57.262   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.385
Skew:                          -0.570   Prob(JB):                     2.56e-12
Kurtosis:                       2.452   Cond. No.                     5.52e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.52e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

로지스틱회귀분석

In [111]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(rawdata, random_state = SEED, test_size = 0.2, shuffle = True)

In [112]:
train.shape, test.shape

((800, 21), (200, 21))

In [113]:
y_train = train['credit.rating']
x_train = train.loc[:, train.columns != 'credit.rating']

In [114]:
log_reg = stats.Logit(y_train, x_train).fit()

Optimization terminated successfully.
         Current function value: 0.465654
         Iterations 6

In [129]:
print(log_reg.summary2())

                                Results: Logit
==============================================================================
Model:                   Logit                Pseudo R-squared:     0.240
Dependent Variable:      credit.rating        AIC:                  785.0460
Date:                    2021-05-09 10:18     BIC:                  878.7383
No. Observations:        800                  Log-Likelihood:       -372.52
Df Model:                19                   LL-Null:              -490.37
Df Residuals:            780                  LLR p-value:          2.3979e-39
Converged:               1.0000               Scale:                1.0000
No. Iterations:          6.0000
------------------------------------------------------------------------------
                                Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
------------------------------------------------------------------------------
account.balance                 0.8516   0.1115  7.6398 0.0000  0.6331  1.0701
credit.duration.months         -0.0287   0.0101 -2.8488 0.0044 -0.0485 -0.0090
previous.credit.payment.status  0.5827   0.1703  3.4222 0.0006  0.2490  0.9165
credit.purpose                 -0.4238   0.0967 -4.3823 0.0000 -0.6133 -0.2342
credit.amount                  -0.0001   0.0000 -1.8034 0.0713 -0.0002  0.0000
savings                         0.3234   0.0882  3.6683 0.0002  0.1506  0.4962
employment.duration             0.1733   0.0930  1.8625 0.0625 -0.0091  0.3557
installment.rate               -0.3692   0.0944 -3.9131 0.0001 -0.5541 -0.1843
marital.status                  0.2014   0.0916  2.1976 0.0280  0.0218  0.3810
guarantor                      -0.2506   0.2970 -0.8439 0.3987 -0.8327  0.3315
residence.duration             -0.1188   0.0888 -1.3375 0.1811 -0.2928  0.0553
current.assets                 -0.2049   0.1037 -1.9750 0.0483 -0.4083 -0.0016
age                             0.0125   0.0094  1.3329 0.1826 -0.0059  0.0309
other.credits                   0.2715   0.2158  1.2584 0.2083 -0.1514  0.6944
apartment.type                  0.2616   0.1896  1.3800 0.1676 -0.1099  0.6331
bank.credits                   -0.3495   0.2170 -1.6104 0.1073 -0.7749  0.0759
occupation                     -0.2745   0.1559 -1.7605 0.0783 -0.5801  0.0311
dependents                     -0.3638   0.2542 -1.4314 0.1523 -0.8620  0.1343
telephone                       0.3230   0.2133  1.5141 0.1300 -0.0951  0.7412
foreign.worker                  0.5675   0.4959  1.1445 0.2524 -0.4044  1.5394
==============================================================================

In [116]:
y_test = test['credit.rating']
x_test = test.loc[:, test.columns != 'credit.rating']

In [125]:
from sklearn.metrics import roc_auc_score
y_hat = log_reg.predict(x_test)
p = [1 if x > 0.7 else 0 for x in log_reg_sel.predict(x_test[selected]).values]
print(roc_auc_score(y_test, p))

0.6934191355026712

로지스틱_변수 제외

In [126]:
selected = [x for x in train.columns if x not in ['credit.rating', 'credit_amount', 'employment.duration', 'guarantor', 'residence.duration', 'age', 'other.credits', 'apartment.type', 'bank_credits', 'occupation', 'dependents', 'telephone', 'foreign.worker']]
y_train = train['credit.rating']
x_train = train[selected]

In [132]:
log_reg_sel = stats.Logit(y_train, x_train).fit()
print(log_reg_sel.summary())
y_hat = log_reg_sel.predict(x_test[selected])
p = [1 if x > 0.7 else 0 for x in log_reg_sel.predict(x_test[selected]).values]
print(roc_auc_score(y_test, p))

Optimization terminated successfully.
         Current function value: 0.477132
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:          credit.rating   No. Observations:                  800
Model:                          Logit   Df Residuals:                      790
Method:                           MLE   Df Model:                            9
Date:                Sun, 09 May 2021   Pseudo R-squ.:                  0.2216
Time:                        10:19:25   Log-Likelihood:                -381.71
converged:                       True   LL-Null:                       -490.37
Covariance Type:            nonrobust   LLR p-value:                 7.598e-42
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
account.balance                    0.8751      0.108      8.121      0.000       0.664       1.086
credit.duration.months            -0.0298      0.010     -3.013      0.003      -0.049      -0.010
previous.credit.payment.status     0.7209      0.151      4.778      0.000       0.425       1.017
credit.purpose                    -0.3537      0.087     -4.064      0.000      -0.524      -0.183
credit.amount                  -7.698e-05   4.52e-05     -1.703      0.089      -0.000    1.16e-05
savings                            0.3530      0.085      4.145      0.000       0.186       0.520
installment.rate                  -0.3160      0.086     -3.661      0.000      -0.485      -0.147
marital.status                     0.2435      0.084      2.894      0.004       0.079       0.408
current.assets                    -0.1531      0.088     -1.732      0.083      -0.326       0.020
bank.credits                      -0.3352      0.211     -1.591      0.112      -0.748       0.078
==================================================================================================
0.6934191355026712