<a href="https://colab.research.google.com/github/kmouleejunhyuk/bigdata_analysist_practical/blob/main/type2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Attribute Information: (classes: edible=e, poisonous=p)

# cap-shape: bell=b,conical=c,convex=x,flat=f, knobbed=k,sunken=s
# cap-surface: fibrous=f,grooves=g,scaly=y,smooth=s
# cap-color: brown=n,buff=b,cinnamon=c,gray=g,green=r,pink=p,purple=u,red=e,white=w,yellow=y

# bruises: bruises=t,no=f
# odor: almond=a,anise=l,creosote=c,fishy=y,foul=f,musty=m,none=n,pungent=p,spicy=s

# gill-attachment: attached=a,descending=d,free=f,notched=n
# gill-spacing: close=c,crowded=w,distant=d
# gill-size: broad=b,narrow=n
# gill-color: black=k,brown=n,buff=b,chocolate=h,gray=g, green=r,orange=o,pink=p,purple=u,red=e,white=w,yellow=y

# stalk-shape: enlarging=e,tapering=t
# stalk-root: bulbous=b,club=c,cup=u,equal=e,rhizomorphs=z,rooted=r,missing=?
# stalk-surface-above-ring: fibrous=f,scaly=y,silky=k,smooth=s
# stalk-surface-below-ring: fibrous=f,scaly=y,silky=k,smooth=s
# stalk-color-above-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o,pink=p,red=e,white=w,yellow=y
# stalk-color-below-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o,pink=p,red=e,white=w,yellow=y

# veil-type: partial=p,universal=u
# veil-color: brown=n,orange=o,white=w,yellow=y

# ring-number: none=n,one=o,two=t
# ring-type: cobwebby=c,evanescent=e,flaring=f,large=l,none=n,pendant=p,sheathing=s,zone=z

# spore-print-color: black=k,brown=n,buff=b,chocolate=h,green=r,orange=o,purple=u,white=w,yellow=y
# population: abundant=a,clustered=c,numerous=n,scattered=s,several=v,solitary=y
# habitat: grasses=g,leaves=l,meadows=m,paths=p,urban=u,waste=w,woods=d

In [2]:
import pandas as pd

rawdata = pd.read_csv('https://raw.githubusercontent.com/kmouleejunhyuk/bigdata_analysist_practical/main/mushrooms.csv')

#Q: 데이터를 기반으로 class를 예측하라

##EDA

In [4]:
rawdata.head()

  class cap-shape cap-surface  ... spore-print-color population habitat
0     p         x           s  ...                 k          s       u
1     e         x           s  ...                 n          n       g
2     e         b           s  ...                 n          n       m
3     p         x           y  ...                 k          s       u
4     e         x           s  ...                 n          a       g

[5 rows x 23 columns]

In [5]:
rawdata.describe()

       class cap-shape cap-surface  ... spore-print-color population habitat
count   8124      8124        8124  ...              8124       8124    8124
unique     2         6           4  ...                 9          6       7
top        e         x           y  ...                 w          v       d
freq    4208      3656        3244  ...              2388       4040    3148

[4 rows x 23 columns]

In [32]:
#변수가 모두 범주형이므로 컬럼 별 비율을 확인
s = rawdata.shape
print(s)

for c in rawdata.columns:
    tmp = rawdata[c].value_counts()

    r_list = []
    index = tmp.index
    for ind in index:
        r_list.append(round(tmp[ind] / s[0], ndigits = 3))

    tmp = pd.DataFrame(tmp.values, columns = ['count'])
    tmp['ratio'] = r_list
    tmp.index = index

    print(tmp, end = '\n\n')

(8124, 23)
   count  ratio
e   4208  0.518
p   3916  0.482

   count  ratio
x   3656  0.450
f   3152  0.388
k    828  0.102
b    452  0.056
s     32  0.004
c      4  0.000

   count  ratio
y   3244  0.399
s   2556  0.315
f   2320  0.286
g      4  0.000

   count  ratio
n   2284  0.281
g   1840  0.226
e   1500  0.185
y   1072  0.132
w   1040  0.128
b    168  0.021
p    144  0.018
c     44  0.005
u     16  0.002
r     16  0.002

   count  ratio
f   4748  0.584
t   3376  0.416

   count  ratio
n   3528  0.434
f   2160  0.266
s    576  0.071
y    576  0.071
a    400  0.049
l    400  0.049
p    256  0.032
c    192  0.024
m     36  0.004

   count  ratio
f   7914  0.974
a    210  0.026

   count  ratio
c   6812  0.839
w   1312  0.161

   count  ratio
b   5612  0.691
n   2512  0.309

   count  ratio
b   1728  0.213
p   1492  0.184
w   1202  0.148
n   1048  0.129
g    752  0.093
h    732  0.090
u    492  0.061
k    408  0.050
e     96  0.012
y     86  0.011
o     64  0.008
r     24  0.003

   count  ratio
t   4608  0.567
e   3516  0.433

   count  ratio
b   3776  0.465
?   2480  0.305
e   1120  0.138
c    556  0.068
r    192  0.024

   count  ratio
s   5176  0.637
k   2372  0.292
f    552  0.068
y     24  0.003

   count  ratio
s   4936  0.608
k   2304  0.284
f    600  0.074
y    284  0.035

   count  ratio
w   4464  0.549
p   1872  0.230
g    576  0.071
n    448  0.055
b    432  0.053
o    192  0.024
e     96  0.012
c     36  0.004
y      8  0.001

   count  ratio
w   4384  0.540
p   1872  0.230
g    576  0.071
n    512  0.063
b    432  0.053
o    192  0.024
e     96  0.012
c     36  0.004
y     24  0.003

   count  ratio
p   8124    1.0

   count  ratio
w   7924  0.975
n     96  0.012
o     96  0.012
y      8  0.001

   count  ratio
o   7488  0.922
t    600  0.074
n     36  0.004

   count  ratio
p   3968  0.488
e   2776  0.342
l   1296  0.160
f     48  0.006
n     36  0.004

   count  ratio
w   2388  0.294
n   1968  0.242
k   1872  0.230
h   1632  0.201
r     72  0.009
u     48  0.006
o     48  0.006
y     48  0.006
b     48  0.006

   count  ratio
v   4040  0.497
y   1712  0.211
s   1248  0.154
n    400  0.049
a    384  0.047
c    340  0.042

   count  ratio
d   3148  0.387
g   2148  0.264
p   1144  0.141
l    832  0.102
u    368  0.045
m    292  0.036
w    192  0.024

##preprocessing

In [27]:
import sklearn
from sklearn.preprocessing import LabelEncoder

In [29]:
#레이블을 숫자로 인코딩

encoded_data = rawdata.copy()

labelencoder_dict = {}
for c in encoded_data.columns:
    LE = LabelEncoder()
    encoded_data[c] = LE.fit_transform(encoded_data[c])
    labelencoder_dict[c] = labelencoder_dict.get(c, []) + [LE]

In [30]:
labelencoder_dict

{'bruises': [LabelEncoder()],
 'cap-color': [LabelEncoder()],
 'cap-shape': [LabelEncoder()],
 'cap-surface': [LabelEncoder()],
 'class': [LabelEncoder()],
 'gill-attachment': [LabelEncoder()],
 'gill-color': [LabelEncoder()],
 'gill-size': [LabelEncoder()],
 'gill-spacing': [LabelEncoder()],
 'habitat': [LabelEncoder()],
 'odor': [LabelEncoder()],
 'population': [LabelEncoder()],
 'ring-number': [LabelEncoder()],
 'ring-type': [LabelEncoder()],
 'spore-print-color': [LabelEncoder()],
 'stalk-color-above-ring': [LabelEncoder()],
 'stalk-color-below-ring': [LabelEncoder()],
 'stalk-root': [LabelEncoder()],
 'stalk-shape': [LabelEncoder()],
 'stalk-surface-above-ring': [LabelEncoder()],
 'stalk-surface-below-ring': [LabelEncoder()],
 'veil-color': [LabelEncoder()],
 'veil-type': [LabelEncoder()]}

In [31]:
encoded_data

      class  cap-shape  cap-surface  ...  spore-print-color  population  habitat
0         1          5            2  ...                  2           3        5
1         0          5            2  ...                  3           2        1
2         0          0            2  ...                  3           2        3
3         1          5            3  ...                  2           3        5
4         0          5            2  ...                  3           0        1
...     ...        ...          ...  ...                ...         ...      ...
8119      0          3            2  ...                  0           1        2
8120      0          5            2  ...                  0           4        2
8121      0          2            2  ...                  0           1        2
8122      1          3            3  ...                  7           4        2
8123      0          5            2  ...                  4           1        2

[8124 rows x 23 columns]