<a href="https://colab.research.google.com/github/kmouleejunhyuk/bigdata_analysist_practical/blob/main/type1_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#prepare data
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

using modules: pandas, sklearn, matplotlib.pyplot

In [2]:
import os
import pandas as pd
import numpy as np
import sklearn.preprocessing as preprocess
import sklearn
import matplotlib.pyplot as plt
import random

In [3]:
PATH ='/gdrive/MyDrive/big_2021/data/official'
SEED = 49

In [4]:
random.seed(SEED)
np.random.seed(SEED)

In [6]:
type1_path = os.path.join(PATH, 'type1', 'mtcars.csv')

if os.path.isfile(type1_path):
    rawdata = pd.read_csv(type1_path)

else:
    print('wrong data file')

In [7]:
rawdata.head()

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

# EDA

data handling

In [49]:
modified_data = rawdata.copy()

In [50]:
#add
modified_data['dummy'] = [random.randint(1, 5) for x in range(modified_data.shape[0])]

#modify column name
modified_data.rename(columns = {'Unnamed: 0': 'Car_info'}, inplace = True)

#calculations
modified_data['dummy'] = modified_data['dummy'] * -1 / -1 + 1 - 1
#
#excetra
##조건 추출: 비교연산 가능
modified_data['isdummy_3'] = [True if x != 3 else False for x in modified_data['dummy']]
modified_data[modified_data['dummy'] == 3].head(2)

     Car_info   mpg  cyl   disp   hp  ...  am  gear  carb  dummy  isdummy_3
6  Duster 360  14.3    8  360.0  245  ...   0     3     4    3.0      False
8    Merc 230  22.8    4  140.8   95  ...   0     4     2    3.0      False

[2 rows x 14 columns]

In [51]:
##sampling
#random_state: 스테이트 고정. 반복추출 시 사용 x
#가중치추출은 그냥 기본으로 수행(추출후 병합)
dummydata = modified_data[['gear', 'carb', 'isdummy_3']].copy()
dummydata.sample(n = None, frac = 0.3, random_state = SEED, replace = False)

    gear  carb  isdummy_3
30     5     8      False
2      4     1       True
15     3     4      False
7      4     2       True
9      4     4       True
26     5     2       True
27     5     2      False
28     5     4       True
16     3     4      False
29     5     6      False

In [52]:
#drop column
modified_data.drop(['dummy', 'isdummy_3'], axis = 1, inplace = True)

simple analysis

In [53]:
modified_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car_info  32 non-null     object
 1   mpg       32 non-null     float64
 2   cyl       32 non-null     int64
 3   disp      32 non-null     float64
 4   hp        32 non-null     int64
 5   drat      32 non-null     float64
 6   wt        32 non-null     float64
 7   qsec      32 non-null     float64
 8   vs        32 non-null     int64
 9   am        32 non-null     int64
 10  gear      32 non-null     int64
 11  carb      32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [54]:
modified_data.head()

            Car_info   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [55]:
modified_data.describe()

             mpg        cyl        disp  ...         am       gear     carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

In [59]:
modified_data['Car_info_dummy_0'] = [x.split(' ')[0] for x in modified_data['Car_info']]

modified_data['Car_info_dummy_0'].value_counts()    #normalize = True)

Merc        7
Fiat        2
Mazda       2
Toyota      2
Hornet      2
Lotus       1
AMC         1
Porsche     1
Honda       1
Ferrari     1
Chrysler    1
Maserati    1
Datsun      1
Pontiac     1
Dodge       1
Camaro      1
Cadillac    1
Lincoln     1
Duster      1
Ford        1
Valiant     1
Volvo       1
Name: Car_info_dummy_0, dtype: int64

handling outliers, missing values, etc

# scaling

Q: scale qsec column of mtcars.csv to minmax scale and count which is bigger than 0.5

various preprocessing method

In [ ]:
#minmaxscaler, standardscaler, robustscaler, normalizer

In [ ]:
#minmax
minmaxscaler = sklearn.preprocessing.MinMaxScaler()
modified_data['qsec_minmax'] = minmaxscaler.fit_transform(modified_data['qsec'].values.reshape(-1, 1))

In [ ]:
#mean: 0, var: 1 (normal distribution)
stdscaler = sklearn.preprocessing.StandardScaler()
modified_data['qsec_stdscale'] = stdscaler.fit_transform(modified_data['qsec'].values.reshape(-1, 1))

In [ ]:
#use median and quantile, robust to outliers
robustscaler = sklearn.preprocessing.RobustScaler()
modified_data['qsec_robust'] = robustscaler.fit_transform(modified_data['qsec'].values.reshape(-1, 1))

In [ ]:
#modify datapoint vector by euclidian distance 1
m = modified_data[modified_data.columns[1:12]].values
norm = pd.DataFrame(sklearn.preprocessing.normalize(m, 'l2', axis = 1), columns = [x + '_norm' for x in modified_data.columns[1:12]])

results

In [ ]:
norm.head(3)

   mpg_norm  cyl_norm  disp_norm  ...   am_norm  gear_norm  carb_norm
0  0.107022  0.030578   0.815404  ...  0.005096   0.020385   0.020385
1  0.106994  0.030570   0.815190  ...  0.005095   0.020380   0.020380
2  0.156464  0.027450   0.741146  ...  0.006862   0.027450   0.006862

[3 rows x 11 columns]

In [ ]:
modified_data[['qsec', 'qsec_minmax', 'qsec_stdscale', 'qsec_robust']].head(3)

    qsec  qsec_minmax  qsec_stdscale  qsec_robust
0  16.46     0.233333      -0.789601    -0.622665
1  17.02     0.300000      -0.471202    -0.343711
2  18.61     0.489286       0.432823     0.448319

In [ ]:
print('bigger record number in qsec_minmax: ', modified_data[modified_data['qsec_minmax'] > 0.5].shape[0])

bigger record number in qsec_minmax:  9

visualizing data