<a href="https://colab.research.google.com/github/kmouleejunhyuk/bigdata_analysist_practical/blob/main/type1_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#prepare data
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

using modules: pandas, sklearn, matplotlib.pyplot

In [84]:
import os
import pandas as pd
import numpy as np
import sklearn.preprocessing as preprocess
import sklearn
import matplotlib.pyplot as plt

In [4]:
PATH ='/gdrive/MyDrive/big_2021/data/official'

In [6]:
type1_path = os.path.join(PATH, 'type1', 'mtcars.csv')

In [23]:
if os.path.isfile(type1_path):
    rawdata = pd.read_csv(type1_path)

else:
    print('wrong data file')

In [89]:
rawdata.head()

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

# EDA

data handling

In [61]:
modified_data['dummy'] = [0 for x in range(modified_data.shape[0])]
modified_data.drop('dummy', axis = 1, inplace = True)

In [88]:
modified_data.head()

          Unnamed: 0   mpg  cyl  ...  qsec_minmax  qsec_stdscale  qsec_robust
0          Mazda RX4  21.0    6  ...     0.233333      -0.789601    -0.622665
1      Mazda RX4 Wag  21.0    6  ...     0.300000      -0.471202    -0.343711
2         Datsun 710  22.8    4  ...     0.489286       0.432823     0.448319
3     Hornet 4 Drive  21.4    6  ...     0.588095       0.904736     0.861768
4  Hornet Sportabout  18.7    8  ...     0.300000      -0.471202    -0.343711

[5 rows x 15 columns]

handling outliers, missing values, etc

# scaling

Q: scale qsec column of mtcars.csv to minmax scale and count which is bigger than 0.5

In [90]:
modified_data = rawdata.copy()

various preprocessing method

In [91]:
#minmaxscaler, standardscaler, robustscaler, normalizer

In [92]:
#minmax
minmaxscaler = sklearn.preprocessing.MinMaxScaler()
modified_data['qsec_minmax'] = minmaxscaler.fit_transform(modified_data['qsec'].values.reshape(-1, 1))

In [93]:
#mean: 0, var: 1 (normal distribution)
stdscaler = sklearn.preprocessing.StandardScaler()
modified_data['qsec_stdscale'] = stdscaler.fit_transform(modified_data['qsec'].values.reshape(-1, 1))

In [94]:
#use median and quantile, robust to outliers
robustscaler = sklearn.preprocessing.RobustScaler()
modified_data['qsec_robust'] = robustscaler.fit_transform(modified_data['qsec'].values.reshape(-1, 1))

In [95]:
#modify datapoint vector by euclidian distance(1) 
m = modified_data[modified_data.columns[1:12]].values
norm = pd.DataFrame(sklearn.preprocessing.normalize(m, 'l2', axis = 1), columns = [x + '_norm' for x in modified_data.columns[1:12]])

results

In [98]:
norm.head(3)

   mpg_norm  cyl_norm  disp_norm  ...   am_norm  gear_norm  carb_norm
0  0.107022  0.030578   0.815404  ...  0.005096   0.020385   0.020385
1  0.106994  0.030570   0.815190  ...  0.005095   0.020380   0.020380
2  0.156464  0.027450   0.741146  ...  0.006862   0.027450   0.006862

[3 rows x 11 columns]

In [99]:
modified_data[['qsec', 'qsec_minmax', 'qsec_stdscale', 'qsec_robust']].head(3)

    qsec  qsec_minmax  qsec_stdscale  qsec_robust
0  16.46     0.233333      -0.789601    -0.622665
1  17.02     0.300000      -0.471202    -0.343711
2  18.61     0.489286       0.432823     0.448319

In [100]:
print('bigger record number in qsec_minmax: ', modified_data[modified_data['qsec_minmax'] > 0.5].shape[0])

bigger record number in qsec_minmax:  9